<div class='content-width content-inset checklist-status-message'>
  {{statusMessage}}
  <div class='controls right'>
  {{#if isClearable}}
    <a href='#' class='button-bare' {{action 'clear'}}>clear</a>
  {{/if}}
  <a href='#' {{action 'toggleEdit'}} class='button-bare'>
    {{#if isEditing}}
      Done editing
    {{else}}
      Edit
    {{/if}}
  </a>
</div>
