<header class='checklist-header'>
  <div class='content-width content-inset'>
    <div class='checklist-title-row property-row'>
      {{#if view.isEditing}}
        {{view App.TextField valueBinding='checklist.title' classNames='checklist-title'}}
      {{else}}
        <h1 class='checklist-title'>
          {{checklist.title}}
        </h1>
      {{/if}}
    </div>
  </div>
</header>

