<div class='checklist-description-section'>
  <div class='content-width content-inset'>
    <div class='checklist-description editable-body'>
      {{#if isEditing}}
        {{view App.TextArea valueBinding='description'}}
      {{/if}}
      <div class='md'>
        {{markdown description}}
      </div>
    </div>
  </div>
</div>
