<div class='content-width content-inset checklist-status-message'>
  {{statusMessage}}
  <a href='#' {{bind-attr class=':button-bare :right isInProgress::is-disabled'}} {{action 'clear'}}>clear</a>
</div>
