<header class='header-bar js-header-bar'>
  <div class='content-width content-inset'>
    <h1 class='checklist-title editable-title'>
      {{checklist.title}}
      {{#if isEditing}}
        {{view App.TextField valueBinding='checklist.title'}}
      {{/if}}

    </h1>

    <a href='#' {{action 'toggleEdit'}} class='button-header-bar right'>
      {{#if isEditing}}
        Done
      {{else}}
        Edit
      {{/if}}
    </a>
  </div>
</header>

