<div class='content-width content-inset checklist-status-message'>
  {{statusMessage}}

  <a href='#' {{action 'toggleEdit'}} class='control button-bare right'>
    {{#if isEditing}}
      Done Editing
    {{else}}
      Edit
    {{/if}}
  </a>

  {{#if isClearable}}
    <a href='#' class='control button-bare right' {{action 'clear'}}>clear</a>
  {{/if}}

</div>
