<div class='checklist-description-section'>
  <div class='content-width content-inset'>
    <div class='checklist-description editable-body'>
      {{checklist.description}}
      {{#if isEditing}}
        {{view App.TextArea valueBinding='checklist.description'}}
      {{/if}}
    </div>
  </div>
</div>
