{{partial 'checklist_header'}}

<div class='checklist-items-container'>
  <ul class='checklist-items'>
    {{each currentChecklist.listItems itemViewClass="App.ListItemView" itemController='listItem'}}
  </ul>
  <a {{action 'addItem'}} href='#' class='button'>
    &#10010; Add Item
  </a>
</div>
