<ul class='js-checklist-list-items checklist-list-items list-reset'>
  {{each itemViewClass="App.ChecklistListItemView"}}
</ul>
{{#if isEditing}}
<div class='checklist-add-item-container'>
  <a {{action 'addItem'}} href='#' class='button-bare'>
    &#43; Add Item
  </a>
</div>
{{/if}}
