{{#if isEditing}}
<a href='#' {{action 'deleteItem' target='view'}} class='button-bare-danger delete-item'>&#x2715;</a>
{{/if}}
<div class='checklist-list-item-description editable-body'>
  {{#if isEditing}}
    {{view App.TextArea valueBinding='description'}}
  {{/if}}
  {{markdown description}}
</div>
{{#if isEditing}}
{{! <span href='#' class='button-item-reorder'></span> }}
{{/if}}
