{{#if isPendingDeletion}}
  Are you sure?
  <a href='#' {{action 'cancelDeleteList'}} class='button-bare'>
    No, nevermind
  </a>
  <a href='#' {{action 'confirmDeleteList'}} class='button-bare-danger'>
    Yes, delete this list
  </a>
{{else}}
  <a href='#' {{action 'deleteList'}} class='button-bare-danger'>
    Delete this list
  </a>
{{/if}}
