<div class='foyer-hero'>
  <div class='content-width'>
    <div class='foyer-checklist'>
      <div class='content-inset center'>
        <h1 class='checklist-title'>Stay on top of things</h1>
        <div class='checklist-description'>
          Create, discover and re-use checklists for tasks you repeat.
        </div>
      </div>

      {{render 'checklistListItems' listItems}}

    </div>
  </div>
</div>

<div class='foyer-signup-container'>
  <div class='content-width center'>
    <h2 class='foyer-heading'>Create an Account</h2>
    {{render 'signUp'}}
  </div>
</div>

<div class='foyer-manifesto-container'>
  <div class='content-width center'>
    <h2 class='foyer-heading'>Read The Manifesto</h2>

    <a target='_blank' class='foyer-book-link' href='http://www.amazon.com/The-Checklist-Manifesto-Things-Right/dp/0312430000/ref=sr_1_1?ie=UTF8&qid=1390670878&sr=8-1&keywords=the+checklist'>
      <img src='/book-cover.jpg' alt='The Checklist Manifesto' />
    </a>

    <p class='foyer-book-tagline'>
      Not sure how checklists can help you? Read this book.
    </p>


  </div>
</div>
