<header class='app-header'>
  <div class='content-width'>
    {{#link-to 'index' class='app-logo control'}}&#10004;{{/link-to}}

    {{#if loggedIn}}
    {{else}}
      <span class='tagline'>Create and save checklists</span>
    {{/if}}

    {{#if showSignup}}
      {{#link-to 'index' class='button-bare right control'}}Signup{{/link-to}}
    {{/if}}

    {{#if loggedIn}}
      {{#link-to 'checklists.new' class='button-bare right control'}}New list{{/link-to}}
    {{else}}
      <a {{action 'login'}} href='#' class='button-bare right control'>Login</a>
    {{/if}}
  </div>
</header>
