<div class='content-width'>
  <div class='checklists-container'>
    <ul class='checklists list-reset'>
      {{#each}}
        <li>
          {{#link-to 'checklists.show' this class='checklist-item'}}
            <h2 class='checklist-item-title'>{{title}}</h2>
            <span class='checklist-item-list-count right'>{{listItems.length}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
