<div class='content-width'>
  <ul>
    {{#each checklist in model}}
      <li>
        <a {{action 'selectChecklist' checklist}} href='#'>{{checklist.title}}</a>
      </li>
    {{/each}}
  </ul>
</div>

{{#with currentChecklist as checklist}}
  {{render 'checklist' checklist}}
{{/with}}
