<div class='content-width dashboard'>

  <div class='checklists-list-container'>
    <div class='checklists-list-header'>
      <div class='checklists-list-header-text'>
        Recently Viewed
      </div>
    </div>
    <ul class='checklists-list list-reset'>
      {{#each recent}}
        {{partial 'checklists/list-item'}}
      {{/each}}
    </ul>
  </div>

  <div class='checklists-list-container'>
    <div class='checklists-list-header'>
      <div class='checklists-list-header-text'>
        Your Checklists
      </div>
    </div>
    {{render 'checklists/index' checklists}}
  </div>

</div>
