<header class='header-bar'>
  <div class='content-width'>
    {{#link-to 'index' class='left header-logo'}}

    {{/link-to}}

    <nav class='left'>
    </nav>

    <nav class='right'>
      {{#if currentUser}}
        {{#link-to 'checklists.new' class='nav-button'}}
          + New Checklist
        {{/link-to}}

        {{#link-to 'user' currentUser class='nav-button'}}
          <img {{bind-attr src='currentUser.profileImageUrl'}} {{bind-attr alt='currentUser.username'}} class='avatar-small' />
          {{currentUser.username}}
        {{/link-to}}
      {{else}}
        <a class='button-text' href='/auth/github'>Login with GitHub</a>
      {{/if}}
    </nav>
  </div>
</header>
