<div class='foyer-hero'>

  <div class='content-width flush-padding'>
    <h1 class='hero-title'>
      Create and Discover Checklists
    </h1>

    <a href='/auth/github' class='button-signin'>
      Sign in with GitHub
    </a>
  </div>

</div>

<div class='content-width'>
  <h3 class='flush-padding center recently-created-header'>
    Recently Created Checklists
  </h3>
  <ul class='checklists-list'>
    {{#each}}
      {{partial 'checklists/list-item'}}
    {{/each}}
  </ul>
</div>

