@import 'vendor/normalize';
@import 'mixins/mixins';
@import 'variables';
@import 'helpers';

// app reset
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  background-color: $background-color;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $color-active;
  text-decoration: none;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

input:focus, textarea:focus {
  outline: 0;
  outline-offset: -2px;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// \app reset

body {
  color: $color-text-default;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}

input, textarea { border-radius: 4px; }

.content-width {
  margin: 0 auto;
  max-width: $content-width;
}

.content-inset {
  padding-left: 10px;
  padding-right: 10px;
}

.media {
  @include clearfix();
}

.media-body{
  overflow: hidden;
  zoom: 1;
}

.media-left {
  float: left;
  margin-right: 10px;
}

@import 'foyer';
@import 'type';
@import 'md';
@import 'avatar';
@import 'header';
@import 'users_show_info';
@import 'checklist';
@import 'checklist_item';
@import 'checklist_list_item';
@import 'buttons';
@import 'vendor/github';
@import 'media_queries';

