@import 'base';

@mixin button-base {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  &.is-disabled {
    cursor: default;
  }
}

@mixin button-size-default {
  font-size: 14px;
  line-height: 30px;
  min-width: 30px;
  padding: 0 10px;
  border-radius: 3px;
}

@mixin button-size-big {
  font-size: 18px;
  line-height: 38px;
  min-width: 40px;
  padding: 0 18px;
  border-radius: 3px;
}

@mixin button-size-header-bar {
  font-size: 14px;
  line-height: inherit;
  min-width: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin button-color-danger {
  border-color: rgb(213, 137, 137);
  color: rgb(224, 0, 0);
  background-color: rgb(255, 242, 242);
}

@mixin button-color-text {
  color: $color-text-default;
  border-color: $color-gray-medium;
  background-color: $color-gray-extra-light;
  &:hover { background-color: white; }
  &:active { background-color: $color-gray-light; }
}

@mixin button-bordered {
  border: 1px solid;
}

.button {
  @include button-base();
  @include button-bordered();
  @include button-color-text();
  @include button-size-default();
}

.button-danger {
  @include button-base();
  @include button-bordered();
  @include button-color-danger();
  @include button-size-default();
}

.button-signin {
  @include button-base();
  @include button-size-big();
  @include button-bordered();
}

