@import 'base';

.checklist-list-item-placeholder {
  background-color: #eee;
}

.checklist-list-item-placeholder,
.checklist-list-item {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid $border-color;

  &.is-completed {
    /*.md-container { @include item-container-box-shadow-inset; }*/
    .md { opacity: 0.5; }
  }

  &.is-editing {
    z-index: 1000;
    .checkbox-container { display: none; }
    /*.md-container { @include item-container-box-shadow; }*/
    .md { opacity: 1; }
  }


  .blanket {
    @include cover-area(fixed, hidden);
    background-color: rgba(255,255,255,0.7);
  }

  textarea, .md { position: relative; }

  .delete-item:hover { color: $color-text-danger; }

  .delete-item {
    color: $color-text-light;
  }

  .button-edit {
    position: absolute;
    top: 0;
    right: 0;
  }

  .md-container {
    background-color: white;
    //border: 1px solid $color-gray-light;

    min-height: 40px;
    //@include item-container-box-shadow;

    .button-edit { opacity: 0; }
    &:hover {
      .button-edit { opacity: 1; }
    }
  }



  .sort-handle-container {
    position: absolute;
    right: 0px;
    padding-left: 10px;
    top: 50%;
    display: none;
    @include transform(translate(100%, -50%));
  }

  &:hover {
    .sort-handle-container { display: block; }
  }

  .checkbox-container {
    background-color: $color-gray-light;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $checkbox-size;
    cursor: pointer;
    text-align: center;
    display: block;
    input {
      cursor: pointer;
      height: 100%;
    }
  }

  .md-container {
    margin-left: $checkbox-size;
  }
}

.is-completed .checkbox-container {
  //border: 1px solid $color-success;
  background-color: rgb(240, 255, 239);
}

.sort-handle {
  $border-width: 1px;
  $border-spacing: 3px;
  $color: #ddd;
  width: 30px;
  display: inline-block;
  cursor: move;
  border-top: $border-spacing solid transparent;
  border-bottom: $border-width solid $color;

  .bar {
    border-top: $border-width solid $color;
    border-bottom: $border-spacing solid transparent;
  }
}

.checklist-list-item-editor {
  $controls-height: 50px;
  background-color: $color-gray-light;

  .controls {
    height: $controls-height;
    line-height: $controls-height;
    background-color: $color-gray-medium;

    .control-left, .control-right {
      position: relative;
      top: 9px;
    }

    .control-left { left: 9px; }
    .control-right { right: 9px; }
  }

  .textarea-container {
    height: 100%;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;

    border-radius: 0;
    border: 0 none;

    padding: 6px;
  }

}


@include bp-double-content-width {
  .checklist-list-item.is-editing {
    .md-container {
      @include transform(translateX(-50%));
    }
    .checklist-list-item-editor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include transform(translateX(50%));

      textarea { resize: none; }
    }
  }
}
