@import 'base';

$color-border: $color-gray-light;
$color-border-dark: $color-gray-medium;

.checklists {
  border: 1px solid $color-border-dark;
  border-radius: 4px;
  overflow: hidden;
  li:first-of-type .checklist-item {
    border-top: 0 none;
  }
}

.checklist-item {
  display: block;
  padding: 10px;
  border-top: 1px solid $color-border;
  background-color: white;
}

.checklist-item-title {
  @include h2();
  display: inline-block;
  margin: 0;
  $line-height: 16px;
  min-height: $line-height;
}

.checklist-item-list-count {
  color: $color-text-light-medium;
  line-height: 24px;
}

.checklists-footer {
  text-align: center;
  margin-top: 10px;
}
