@import 'base';

.checklists-sort-controls {
  line-height: 30px;
  margin-bottom: 5px;
  a {
    line-height: inherit;
  }

  .flip {
    display: inline-block;
    @include transform(rotate(180deg));
  }
}

