@import 'base';

.checklist-list-item {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid $border-color;

  &.is-completed {
    .md { opacity: 0.5; }
  }

  .md { position: relative; }

  .md-container {
    background-color: white;
    min-height: 40px;
  }

  .checkbox-container {
    background-color: $color-gray-light;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $checkbox-size;
    cursor: pointer;
    text-align: center;
    display: block;
    input {
      cursor: pointer;
      height: 100%;
    }
  }

  .md-container {
    margin-left: $checkbox-size;
  }
}

.is-completed .checkbox-container {
  background-color: rgb(240, 255, 239);
}
