@import 'base';

.header-bar {
  background: white;
  border-bottom: 1px solid $color-gray-light;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: relative;
  height: $header-height;
  line-height: $header-height;
}

.header-logo {
  background: #cbffcb;
  text-align: center;
  width: $header-height;
}

.header-nav-menu {
  position: relative;
  &:hover {
    .header-nav-menu-list { display: block; }
  }
}

.header-nav-menu-list {
  position: absolute;
  top: $header-height;
  right: 0;
  background-color: white;
  white-space: nowrap;
  display: none;
}

.header-nav-menu-item {
  border-bottom: 1px solid $color-gray-extra-light;
  &:last-of-type { border-bottom: 0 none; }
}

.header-nav-menu-link {
  color: $color-text-light-medium;
  padding: 10px 20px;
}
