@import 'base';

$header-background-color: darken($background-color, 5%);

.header-bar {
  background-color: $header-background-color;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: relative;
  height: $header-height;
  line-height: $header-height;
}

.header-logo {
  width: $header-height;
  height: $header-height;
  background-color: white;
  background-size: contain;
  background-image: url('logo.svg');
}

.nav-button {
  float: left;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  line-height: $header-height;
  font-weight: 700;
  color: $color-text-default;
  background-color: $header-background-color;
  &:hover {
    color: $color-brand-primary;
  }

  &:active, &.active {
    background-color: darken($header-background-color, 10%);
  }
}
