@import 'base';

.right { float: right; }
.left { float: left; }
.center { text-align: center; }
.block { display: block; }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
