$color-brand-primary: #4A90E2;
$color-gray-extra-light: #f8f8f8;
$color-gray-light: #eee;
$color-gray-medium: #ddd;
$color-gray-dark: #333;
$color-active: #09F;
$color-success: #00f300;
$color-highlight: #feffe7;

$color-text-default: $color-gray-dark;
$color-text-light: #ddd;
$color-text-light-medium: #a7a7a7;
$color-text-action: $color-active;
$color-text-danger: red;

$content-width: 700px;

$color-editable-field-background: $color-gray-light;

$header-height: 40px;

$checkbox-size: 40px;

$background-color: $color-gray-extra-light;
$border-color: $color-gray-medium;
