<label class='checkbox-container'>
  {{input type="checkbox" name="isCompleted" checked=isCompleted}}
</label>

<div class='md-container'>
  <div class='md'>
    {{#if text}}
      {{markdown-text text}}
    {{else}}
      &nbsp;
    {{/if}}
  </div>
</div>

