@import '../vendor/bourbon/bourbon';

@mixin cover-area($position: fixed, $overflow: scroll) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: $overflow;
  position: $position;
}

@mixin position-sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}
