@import 'vendor/normalize';
@import 'mixins/mixins';
@import 'variables';


// app reset
ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

// \app reset

body {
  padding: 100px 0;
  color: #333;
  background-color: #fff;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}

.content-width {
  margin: 0 auto;
  max-width: $content-width;
}

.content-inset {
  padding-left: 10px;
  padding-right: 10px;
}

@import 'checklist';
@import 'checklist_description';
@import 'checklist_item';
@import 'checkbox';

.button {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  &:hover {
    background-color: #eee;
  }
}

.delete-link {
  display: inline-block;
  color: red;
  margin-top: 4px;
}

@media (max-width: $content-width)  {
  .checklist-items-container {
    border-right: 0 none;
    border-left: 0 none;
  }
}
