@import 'vendor/normalize';
@import 'mixins/mixins';
@import 'variables';

// app reset
ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

// \app reset

body {
  padding: 100px 0;
  color: #333;
  background-color: #fff;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}

.content-width {
  margin: 0 auto;
  max-width: 700px;
}


.checklist-header {
  padding: 10px 20px;
}

.checklist-description {
  margin: 0;
  font-size: 14px;
  color: #5a5a5a;
}


.checklist-items-container {
  border: 1px solid #ddd;
}

.checklist-item {
  padding: 10px 10px 10px 40px;
  border-bottom: 1px solid #eee;
  position: relative;
  min-height: 51px;

  .checkbox {
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .edit-link {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    .edit-link {
      display: block;
    }
  }

  &.is-active {
    .list-item-description {
      display: block;
    }
  }
  &.is-editing {
    .list-item-description {
      display: block;
    }
    .edit-link {
      display: block;
      color: $color-active;
    }
  }

  .list-item-description {
    //display: none;
  }


}

.property-row {
  position: relative;
}

.edit-link {
  font-size: 16px;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: $color-text-light;
  &:active {
    color: #444;
  }
}

.list-item-title {
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  margin: 0 0 1px;;
  display: block;
  width: 100%;
  border: 0 none;
  line-height: 16px;
}
input.list-item-title {
  &:focus { outline: none; }
  background: #eee;
}

.list-item-description {
  margin: 0;
  font-size: 14px;
  color: #5a5a5a;
  width: 100%;
  border: 0 none;
  padding: 4px;
  line-height: 18px;
}

textarea.list-item-description {
  &:focus { outline: none; }
  background: #eee;
}

.checkbox {
  border-radius: 4px;
  border: 3px solid #ddd;
  width: 29px;
  height: 29px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;

  &:active {
    background-color: #ddd;
    border-color: #aaa;
    .checkmark {
      color: #aaa;
    }
  }

  &.is-checked {
    border-color: green;
    background-color: rgb(216, 255, 216);
    .checkmark {
      color: green;
    }
  }

  .checkmark {
    color: #ddd;
    font-size: 14px;
  }
}

.button {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  &:hover {
    background-color: #eee;
  }
}

.delete-link {
  display: inline-block;
  color: red;
  margin-top: 4px;
}
