@import 'base';

.app-header {
  background-color: white;
  border-bottom: 1px solid $color-gray-light;

  .control { line-height: 50px; }
  .tagline { font-size: 16px; }
}

.app-logo {
  font-size: 20px;
  color: $color-success;
  padding: 0 20px;
  display: inline-block;
}

.account-menu-container {
  margin-left: 20px;
  position: relative;

  .account-menu {
    background-color: white;
    position: absolute;
    width: 100px;
    top: 50px;
    right: 0;
    border: 1px solid $color-gray-light;
    border-top: 0 none;

    a {
      color: $color-text-light-medium;
      padding: 5px 10px;
      &:hover {
        color: $color-active;
      }
    }
  }
}

.account-menu-toggle {
  width: 50px;
  height: 50px;
  display: block;
  img {
    display: block;
    width: 100%;
  }
}

.signin-form {
  float: right;
  line-height: 50px;
  input {
    box-shadow: inset 0 0 1px #444;
    margin-left: 12px;
    width: 144px;
  }
  input, button {
    display: inline-block;
  }
}
