
@mixin avatar-base {
  border-radius: 4px;
  padding: 1px;
  background-color: #999;
  vertical-align: middle;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

@mixin avatar-size($size) {
  height: $size;
  width: $size;
}

.avatar-small {
  @include avatar-base;
  @include avatar-size(20px);
}

.avatar-medium {
  @include avatar-base;
  @include avatar-size(40px);
}

.avatar-large {
  @include avatar-base;
  @include avatar-size(50px);
}
