
@mixin avatar-base {
  border-radius: 4px;
  padding: 1px;
  background-color: #999;
  vertical-align: middle;
}

@mixin avatar-size($size) {
  height: $size;
  width: $size;
}

.avatar-small {
  @include avatar-base;
  @include avatar-size(20px);
}

.avatar-large {
  @include avatar-base;
  @include avatar-size(80px);
}
