@import 'base';

@mixin button-base {
  display: inline-block;
  cursor: pointer;
  &.is-disabled {
    cursor: default;
  }
}

.button {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  &:hover {
    background-color: #eee;
  }
}

@mixin button-size-default {
  font-size: 14px;
}

@mixin button-size-medium {
  font-size: 16px;
}

@mixin button-bare {
  @include button-base();
  text-transform: capitalize;
  color: $color-text-action;

  &.is-disabled {
    color: $color-text-light;;
  }
}

.button-bare {
  @include button-bare();
  @include button-size-default();
}

.button-header-bar {
  @include button-bare();
  @include button-size-medium();
  padding: 14px 20px;
}
