@import 'base';

@mixin button-base {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  &.is-disabled {
    cursor: default;
  }
}

@mixin button-size-default {
  font-size: 14px;
  line-height: 30px;
  min-width: 30px;
  padding: 0 10px;
}

@mixin button-size-medium { font-size: 16px; }
@mixin button-color-default { color: $color-text-action; }
@mixin button-color-white {
  color: $color-text-action;
  background-color: white;
  &:hover {
    background-color: #eee;
  }
}
@mixin button-color-danger { color: $color-text-danger; }

@mixin button-bare {
  text-transform: capitalize;

  &.is-disabled { color: $color-text-light; }
}

.button-bare {
  @include button-base();
  @include button-bare();
  @include button-color-default();
  @include button-size-default();
}

.button-bare-danger {
  @include button-base();
  @include button-bare();
  @include button-color-danger();
  @include button-size-default();
}

.button-header-bar {
  @include button-base();
  @include button-bare();
  @include button-color-default();
  @include button-size-medium();
  padding: 14px 20px 14px 20px;
  right: -20px;
  position: relative;
}
