@import 'base';

@mixin button-base {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  &.is-disabled {
    cursor: default;
  }
}

@mixin button-size-default {
  font-size: 14px;
  line-height: 30px;
  min-width: 30px;
  padding: 0 10px;
  border-radius: 3px;
}

@mixin button-size-header-bar {
  font-size: 14px;
  line-height: inherit;
  min-width: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin button-color-danger { color: $color-text-danger; }

@mixin button-color-text {
  color: $color-text-default;
  border-color: $color-gray-medium;
  background-color: $color-gray-extra-light;
}

@mixin button-bare {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0 none;

  &.is-disabled { color: $color-text-light; }
}

@mixin button-bordered {
  border: 1px solid;
}

.button-bare {
  @include button-base();
  @include button-bare();
  @include button-color-text();
  @include button-size-default();
}

.button-bare-danger {
  @include button-base();
  @include button-bare();
  @include button-color-danger();
  @include button-size-default();
}

.button {
  @include button-base();
  @include button-bordered();
  @include button-color-text();
  @include button-size-default();
}

.button-text {
  line-height: inherit;
  font-weight: bold;
  color: inherit;
  display: inline-block;
}
