@import 'mixins/mixins';
@import 'variables';

.checklist-description-section {
  padding: 30px 0 10px;
}

.checklist-description {
  margin: 0;
  font-size: 16px;
  color: #5a5a5a;
  padding: 2px;
}

