@import 'base';

.checklist-header {
  margin: 30px 0;
  .avatar-link {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .checklist-title {
    $line-height: 28px;
    line-height: $line-height;
    min-height: $line-height;
    min-width: 90px;
    margin: 0;
    padding: 2px;
    font-size: 20px;
    display: inline-block;
    font-weight: 700;
  }

  .checklist-meta {
    padding: 0 2px;
    font-size: 14px;
    color: $color-text-light-medium;
    a { color: inherit; }
  }

}

.checklist-container {
  background-color: $color-gray-extra-light;

  &.dim-list {
    .checklist-list-items-container {
      opacity: 0.5;
    }
  }


}

/*.editable-title {*/
  /*position: relative;*/

  /*input {*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*position: absolute;*/

    /*padding: inherit;*/
    /*color: inherit;*/
    /*font: inherit;*/
    /*line-height: inherit;*/
    /*font-size: inherit;*/

    /*border: 0 none;*/
    /*background-color: $color-gray-light;*/
    /*&:focus { box-shadow: inset 0 0 1px #333; }*/
  /*}*/
/*}*/

/*.editable-body {*/
  /*position: relative;*/

  /*textarea {*/
    /*width: 100%;*/
    /*max-width: 100%;*/
    /*height: 100%;*/
    /*margin: 0;*/

    /*border-radius: 0;*/
    /*border: 0 none;*/
    /*border: 1px solid transparent;*/

    /*font: inherit;*/
    /*font-size: inherit;*/
    /*color: inherit;*/
    /*padding: 6px;*/

    /*background-color: $color-gray-light;*/
    /*&:focus {*/
      /*border-color: $color-gray-medium;*/
      /*min-height: 200px;*/
    /*}*/
  /*}*/
/*}*/

.checklist-list-items-container {
  margin-bottom: 40px;
}

.checklist-list-items {
  position: relative;
  margin-bottom: 20px;
}

.checklist-add-item-container {
  text-align: center;
}

.checklist-status-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  background-color: white;
  border-top: 1px solid $color-gray-medium;
  @include transform(translateY(100%));
  @include transition-property(transform);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-out);

  .button {
    position: relative;
    top: 10px;
  }
}

.is-in-progress .checklist-status-bar {
  @include transition-timing-function(ease-out);
  @include transition-duration(100ms);
  @include transform(translateY(0%));
}

.checklist-status-message {
  font-size:14px;
  color: $color-text-light-medium;
  position: relative;
}

.checklist-delete-section {
  padding: 10px;
  text-align: center;
}
