@import 'base';

.checklist-list-item {
  position: relative;
  background: white;
  cursor: pointer;
  width: 100%;

  border-bottom: 1px solid $color-gray-light;
  border-right: 1px solid $color-gray-light;
  border-left: 3px solid $color-gray-light;

  textarea {
    margin: 10px 0;
  }

  &:first-of-type {
    border-top: 1px solid $color-gray-light;
    .move-up { display: none; }
  }

  &:last-of-type {
    .move-down { display: none; }
  }

  &.is-completed {
    border-left-color: $color-success;
    .checklist-list-item-description { opacity: 0.5; }
  }

  &.is-active { background-color: $color-highlight; }

  .delete-item:hover { color: $color-text-danger; }

  .delete-item {
    color: $color-text-light;
    position: absolute;
    top: 9px;
    right: 0;
  }

  .move-up, .move-down {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
  }

  .move-up { left: -40px; }
  .move-down { right: -40px; }

}

.checklist-container.is-editing .checklist-list-item {
  background-color: white;
  cursor: default;
  .checklist-list-item-description { opacity: 1; }

  &.animate-move-flash {
    background-color: $color-highlight;
    @include transition(background-color 600ms);
  }
}

.no-touch {
  .checklist-list-item {
    &:hover { border-left-color: $color-gray-light; }
    &:active { border-left-color: $color-gray-medium; }
    &.is-completed:hover { border-left-color: $color-success; }
    &.is-completed:active { border-left-color: $color-gray-medium; }
    &.is-editing:hover { border-left-color: none; }
    &.is-editing:active { border-left-color: none; }
  }
}

.checklist-list-item-description {
  padding: 1px 15px;
  pre {
    overflow-y: scroll;
    white-space: pre;
  }
}

.button-move {
  $size: 30px;
  display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size/2;
  text-align: center;
  color: $color-text-light;

  &:hover {
    color: $color-text-default;
  }
}

/*.button-item-reorder {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/

  /*display: block;*/
  /*width: 40px;*/
  /*height: 100%;*/
  /*background-color: red;*/
  /*user-select: none;*/
  /*cursor: pointer;*/
/*}*/
