@import 'base';

.checklist-item {
  padding: 10px 10px 10px 40px;
  border-bottom: 1px solid #eee;
  position: relative;
  min-height: 51px;
  background: white;
  cursor: pointer;


  .checklist-item-checkmark {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    color: $color-text-light;
  }

  &:active {
    @include linear-gradient(0deg, #fff, #f8f8f8 30%, #fff 100%);
  }

  &.is-completed {
    @include linear-gradient(0deg, #ebffe4, #fff 100%);
    .checklist-item-checkmark {
      color: $color-success;
    }
  }

  &.is-active {
  }
}

.no-touch {
  .checklist-item {
    &:hover {
      @include linear-gradient(0deg, #efefef, #f8f8f8 30%, #fff 100%);
    }
    &.is-completed:hover {
      @include linear-gradient(0deg, #ebffe4, #fff 100%);
    }
  }
}

.property-row {
  position: relative;
}

.checklist-item-title {
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  margin: 0 0 1px;;
  display: block;
  width: 100%;
  border: 0 none;
  line-height: 16px;
}

input.checklist-item-title {
  &:focus { outline: none; }
  background: #eee;
}

.checklist-item-description {
  margin: 0;
  font-size: 14px;
  color: #5a5a5a;
  width: 100%;
  border: 0 none;
  padding: 4px;
  line-height: 18px;
}

textarea.checklist-item-description {
  &:focus { outline: none; }
  background: #eee;
}
