@import 'base';

.checklists {
  border-top: 1px solid $color-gray-light;
  margin-top: 40px;
}

.checklist-item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid $color-gray-light;
  border-right: 1px solid $color-gray-light;
  border-left: 1px solid $color-gray-light;
  background-color: white;
}

.checklist-item-title {
  @include h2();
  display: inline-block;
  margin: 0;
  $line-height: 16px;
  min-height: $line-height;
}

.checklist-item-list-count {
  color: $color-text-light;
}
