@import 'base';

@mixin item-container-box-shadow { box-shadow: 0 1px 1px #aaa; }
@mixin item-container-box-shadow-inset { box-shadow: inset 0 1px 1px #aaa; }

.checklist-list-item {
  position: relative;
  width: 100%;

  &:first-of-type {
    border-top: 1px solid $color-gray-light;
    .move-up { display: none; }
  }

  &:last-of-type {
    .move-down { display: none; }
  }

  &.is-completed {
    .md-container { @include item-container-box-shadow-inset; }
    .md { opacity: 0.5; }
    .checkbox-container {
      border: 1px solid $color-success;
      background-color: rgb(240, 255, 239);
    }
  }

  &.is-editing {
    z-index: 1000;
    .checkbox-container { display: none; }
    .md-container { @include item-container-box-shadow; }
    .md { opacity: 1; }
  }


  .blanket {
    @include cover-area(fixed, hidden);
    background-color: rgba(255,255,255,0.7);
  }

  textarea, .md { position: relative; }

  .delete-item:hover { color: $color-text-danger; }

  .delete-item {
    color: $color-text-light;
  }

  .move-up, .move-down {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
  }

  .move-up { left: -40px; }
  .move-down { right: -40px; }

  .button-edit {
    position: absolute;
    top: 0;
    right: 0;
  }

  .md-container {
    background-color: white;
    border: 1px solid $color-gray-light;

    min-height: 40px;
    margin-bottom: 20px;
    @include item-container-box-shadow;
  }


  .checkbox-container {
    $size: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -$size - 10px;
    width: $size;
    height: $size;
    line-height: $size;
    background: $color-gray-extra-light;
    text-align: center;
    border-radius: 2px;
    border: 1px dotted $color-gray-medium;
    @include transform(translateY(-($size/2)));
    input { cursor: pointer; }
  }
}

/*.checklist-container.is-editing .checklist-list-item {*/
  /*background-color: white;*/
  /*cursor: default;*/
  /*.md-container { opacity: 1; }*/

  /*@include transition(background-color 600ms);*/
  /*&.animate-move-flash {*/
    /*background-color: $color-highlight;*/
  /*}*/
/*}*/

.button-move {
  $size: 30px;
  display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size/2;
  text-align: center;
  color: $color-text-light;

  &:hover {
    color: $color-text-default;
  }
}

/*.button-item-reorder {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/

  /*display: block;*/
  /*width: 40px;*/
  /*height: 100%;*/
  /*background-color: red;*/
  /*user-select: none;*/
  /*cursor: pointer;*/
/*}*/

.checklist-list-item-editor {
  $controls-height: 50px;
  background-color: $color-gray-light;

  .controls {
    height: $controls-height;
    line-height: $controls-height;
    background-color: $color-gray-medium;

    .control-left, .control-right {
      position: relative;
      top: 9px;
    }

    .control-left { left: 9px; }
    .control-right { right: 9px; }
  }

  .textarea-container {
    height: 100%;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;

    border-radius: 0;
    border: 0 none;

    padding: 6px;
  }

}


@include bp-double-content-width {
  .checklist-list-item.is-editing {
    .md-container {
      @include transform(translateX(-50%));
    }
    .checklist-list-item-editor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include transform(translateX(50%));

      textarea { resize: none; }
    }
  }
}
