$color-gray-extra-light: #f8f8f8;
$color-gray-light: #eee;
$color-gray-medium: #ddd;
$color-active: #09F;
$color-success: rgb(0, 243, 0);

$color-text-light: #ddd;
$color-text-light-medium: #a7a7a7;

$content-width: 800px;
