{{view App.ChecklistHeaderView}}

{{render 'checklistListItems' listItems}}

<div class='checklist-status-bar'>
  <div class='content-width'>
    <span class='checklist-status-message'>{{statusMessage}}</span>
    <a href='#' class='button right' {{action 'clear'}}>clear</a>
  </div>
</div>
