<h2>Create a Checklist</h2>

<div class='checklist-form'>

  <div class='form-field'>
    {{input value=title placeholder='Add a title' class='input-block'}}
  </div>

  <div class='form-field'>
    {{textarea value=description class='input-block'}}
  </div>

  <a href='#' class='button' {{action 'create'}}>
    {{#if id}}Update{{else}}Create List{{/if}}
  </a>

</div>
