{{view 'checklist/header'}}

<div class='content-width'>
  <div class='create-checklist-container center'>
    <a {{action 'create'}} href='#' {{bind-attr class=':button validModel::is-disabled'}}>Create &amp; Edit Checklist</a>
  </div>
</div>

